.hero-style1 {
	z-index: 1;
	.hero1-shape-start {
		left: -240px;
		bottom: -130px;
		z-index: -1;
	}
	.hero1-shape-end {
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	@include breakpoint(max-xl) {
		.hero1-shape-start {
			left: -80px;
			bottom: -80px;
			z-index: -1;
			max-width: 300px;
		}
		.hero1-shape-end {
			right: 0;
			bottom: 0;
			z-index: -1;
			max-width: 200px;
		}
	}
}
.hero-content1 {
	padding: 160px 0 100px;
}
.search-adjust1 {
	&.style2 {
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
		padding: 16px;
	}
}
.hero-style3 {
	padding: 120px 10px 92px;
	.heading3-title {
		font-style: normal;
		font-weight: 400;
		font-size: 130px;
		line-height: 160px;
		letter-spacing: -1.6px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		max-width: 900px;
		color: $black;
	}
	@include breakpoint(max-xxxl) {
		.heading3-title {
			font-weight: 400;
			font-size: 110px;
			line-height: 120px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
		}
	}
	@include breakpoint(max-xxl) {
		.heading3-title {
			font-weight: 400;
			font-size: 80px;
			line-height: 90px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
		}
	}
	@include breakpoint(max-xl) {
		.heading3-title {
			font-weight: 400;
			font-size: 70px;
			line-height: 90px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
		}
	}
	@include breakpoint(max-lg) {
		.heading3-title {
			font-weight: 400;
			font-size: 100px;
			line-height: 90px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
			br {
				display: none;
			}
		}
	}
	@include breakpoint(max-md) {
		.heading3-title {
			font-weight: 400;
			font-size: 70px;
			line-height: 90px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
			br {
				display: none;
			}
		}
	}
	@include breakpoint(max-sm) {
		.heading3-title {
			font-weight: 400;
			font-size: 58px;
			line-height: 65px;
			letter-spacing: -1.6px;
			position: static;
			top: initial;
			transform: translateY(-0%);
			max-width: 900px;
			br {
				display: none;
			}
		}
	}
}

.hero-thumb__wrapper03 {
	.price25 {
		width: 170px;
		top: 95px;
		left: 50%;
		transform: translateX(-50%);
	}
	.thumb1 {
		border-radius: 0 200px 0 0;
		overflow: hidden;
		position: relative;
		&::before {
			position: absolute;
		}
	}
	.thumb2 {
		border-radius: 200px 0 0 0;
		overflow: hidden;
	}
}

.hero-style4 {
	padding: 210px 4px 130px;
	.hero-content4 {
		gap: 50px;
		.thumb-hero4 {
			max-width: unset;
			direction: rtl;
			position: relative;
			left: -24px;
			img {
				max-width: unset;
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 190px 4px 100px;
		.hero-content4 {
			gap: 24px;
			h3 {
				font-size: 20px;
				line-height: 24px;
			}
			h1 {
				font-size: 75px;
			}
		}
		.shape {
			width: 200px;
			opacity: 0.5;
		}
	}
	@include breakpoint(max-xl) {
		padding: 190px 4px 80px;
		.hero-content4 {
			gap: 16px;
			h3 {
				font-size: 20px;
				line-height: 24px;
			}
			h1 {
				font-size: 55px;
			}
		}
		.shape {
			width: 200px;
			opacity: 0.5;
		}
	}
	@include breakpoint(max-lg) {
		padding: 150px 4px 80px;
		.thumb-hero4 {
			max-width: 100%;
			direction: rtl;
			position: static;
			left: 0px;
			img {
				max-width: 100% !important;
			}
		}
	}
	@include breakpoint(max-sm) {
		.hero-content4 {
			gap: 16px;
			h3 {
				font-size: 20px;
				line-height: 24px;
			}
			h1 {
				font-size: 38px;
			}
		}
		.shape {
			width: 200px;
			opacity: 0.5;
		}
	}
}
.hero-style5 {
	.hero-content1 {
		padding: 175px 0 175px;
	}
	h2 {
		font-size: 40px;
	}
	.hero-burger-flower {
		bottom: 85px;
		right: 70px;
		animation: cir36 20s linear infinite;
	}
	.hero-burger-price {
		top: 90px;
		right: 270px;
	}
	@include breakpoint(max-xxl) {
		.hero-burger-flower {
			bottom: 220px;
			right: 20px;
			max-width: 250px;
		}
		.hero-burger-price {
			top: 70px;
			right: 200px;
			max-width: 120px;
		}
	}
	@include breakpoint(max-xl) {
		.hero-burger-flower {
			bottom: 20px;
			right: 5px;
			max-width: 150px;
		}
		.hero-burger-price {
			top: 70px;
			right: 200px;
			max-width: 60px;
		}
	}
	@include breakpoint(max-sm) {
		h2 {
			font-size: 28px;
		}
		.hero-content1 {
			padding: 80px 0 95px;
		}
		.hero-burger-flower {
			bottom: 20px;
			right: 5px;
			max-width: 150px;
			opacity: 0.5;
		}
		.hero-burger-price {
			top: 70px;
			right: 200px;
			max-width: 60px;
		}
	}
}

.hero-1 {
	padding: 190px 0 190px;
	position: relative;
	z-index: 1;
	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: transform 9000ms ease, opacity 1500ms ease-in;
		transition: transform 9000ms ease, opacity 1500ms ease-in,
			-webkit-transform 9000ms ease;

		&::before {
			@include before;
			background-color: rgb(0, 0, 0, 0.6);
		}
	}
	.hero-content {
		position: relative;
		opacity: 0;
		z-index: 3;
		transform: translateY(-150px);
		max-width: 700px;
		margin: 0 auto;
		p {
			max-width: 620px;
			margin: 0 auto;
		}
		h1 {
			position: relative;
			z-index: 1;
			font-size: 90px;
			line-height: 80px;
			&::before {
				position: absolute;
				top: 60px;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
				background-color: $theme-color;
				width: 60%;
				height: 10px;
				content: "";
			}
		}
		.room {
			display: flex;
			align-items: center;
			gap: 14px;
			color: $white;
			font-size: 20px;
			font-weight: 600;
		}
	}
	@include breakpoint(max-xl) {
		padding: 160px 0 160px;
	}
	@include breakpoint(max-lg) {
		padding: 120px 0 120px;
		.hero-content {
			h1 {
				font-size: 70px;
				line-height: 70px;
			}
		}
	}
	@include breakpoint(max-sm) {
		padding: 90px 0 100px;
		.hero-content {
			h1 {
				font-size: 38px;
				line-height: 48px;
				&::before {
					top: 30px;
					height: 1px;
				}
			}
		}
	}
}
.hero-section {
	position: relative;
	.dots {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		gap: 10px;
		width: 99%;
		inset-inline-end: 50px;
		top: 50%;
		z-index: 1;
		.swiper-pagination-bullet {
			width: 26px;
			height: 26px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			border: 1.2px solid rgba(255, 255, 255, 0.5);
			opacity: 1;
			&::before {
				position: absolute;
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: $theme-color;
				opacity: 0;
			}
		}
		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			border-color: $white;
			&::before {
				opacity: 1;
			}
		}
	}
	.swiper-slide.swiper-slide-active {
		.hero-bg {
			-webkit-transform: scale(1.35);
			transform: scale(1.35);
		}

		.hero-content {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}

		.hero-button {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}
	}
	@include breakpoint(max-sm) {
		.dots {
			top: initial;
			bottom: 10px;
		}
	}
}
.hero-section-style02{
	.dots{
		width: 200px !important;
		height: 150px !important;
		left: auto;
	}
}
.standar-icon{
	transition: all 0.4s;
	&:hover{
		background-color: #86624A !important;
		color: $white !important;
	}
}

//Header White Area
.white-variation {
	.mean__menu-wrapper {
		.main-menu {
			ul {
				li {
					a {
						color: $white;
						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}
//Header White Area

//Breadcrumb Section
.breadcrumb-section {
	padding: 150px 0 150px;
	position: relative;
	z-index: 1;
	h2 {
		font-size: 64px;
	}
	.breadcrumb {
		li {
			font-size: 16px;
			font-weight: 500;
			color: $white;
			font-family: "Outfit", sans-serif;
			a {
				font-family: "Outfit", sans-serif;
				font-size: 16px;
				font-weight: 500;
				color: $white;
			}
		}
	}
	.bread-shape-start {
		left: -280px;
		bottom: -220px;
		z-index: -1;
	}
	.bread-shape-end {
		right: -40px;
		bottom: -40px;
		z-index: -1;
	}
	@include breakpoint(max-xl) {
		padding: 110px 0 130px;
		.bread-shape-start {
			left: -80px;
			bottom: -80px;
			z-index: -1;
			max-width: 300px;
		}
		.bread-shape-end {
			right: 0;
			bottom: 0;
			z-index: -1;
			max-width: 200px;
		}
	}
	@include breakpoint(max-md) {
		padding: 80px 0 90px;
		h2 {
			font-size: 44px;
		}
	}
	@include breakpoint(max-md) {
		padding: 70px 0 90px;
		h2 {
			font-size: 40px;
		}
	}
}
.breadcrumb-black-header {
	background: $black !important;
}
//Breadcrumb Section
