//Mozzo end
//Blog Section
.blog-single-item {
	.blog-admin {
		margin-bottom: 22px;
		li {
			font-size: 14px;
			font-weight: 500;
			color: $black;
		}
	}
}
//Blog Section

.blog-single-item-middle {
	@include breakpoint(lg) {
		max-width: 550px;
	}
}

.table-cart-inner {
	border-radius: 20px;
	border: 1px solid #e9e9e9;
	background: rgba(255, 82, 0, 0.02);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}
.details-common-box {
	padding: 45px;
	border-radius: 30px;
	border: 1px solid rgba(12, 30, 27, 0.1);
	.search-area {
		input {
			width: 100%;
			border: unset;
			padding: 6px 2px;
			font-size: 18px;
			background-color: transparent;
		}
	}
	@include breakpoint(max-xxxl) {
		padding: 35px;
	}
	@include breakpoint(max-xxl) {
		padding: 24px;
	}
	@include breakpoint(max-xl) {
		padding: 20px;
	}
}
.cate-item {
	transition: all 0.4s;
	.icon {
		transition: all 0.4s;
		background: #ffe6da;
	}
	&:hover {
		background-color: $theme-color;
		span {
			color: $white !important;
		}
		.icon {
			background: $white;
		}
	}
}
.details-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	li {
		a {
			border-radius: 100px;
			border: 1px solid rgba(12, 30, 27, 0.1);
			font-size: 14px;
			font-weight: 500;
			color: $black;
			display: inline-block;
			text-align: center;
			padding: 6px 14px;
			background: #fff;
			text-transform: capitalize;
			&:hover {
				background: $theme-color;
				color: $white;
			}
		}
	}
}
.blog-big-single {
	.video-popup {
		border-color: $theme-color;
		color: $theme-color !important;
		&::before {
			border-color: $theme-color !important;
			border-radius: 12px !important;
		}
		i {
			color: $theme-color;
		}
	}
}
.title-blog {
	font-size: 40px;
	@include breakpoint(max-xl) {
		font-size: 30px;		
	}
	@include breakpoint(max-md) {
		font-size: 26px;		
	}
}
.middle-style-blog {
	h2 {
		font-size: 38px;
	}
	@include breakpoint(max-xl) {
		h2 {
			font-size: 30px;
		}
	}
	@include breakpoint(max-md) {
		h2 {
			font-size: 26px;
		}
	}
}
//Mozzo end

.view-new-cart{
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	text-align: center;
	transition: all 0.4s;
	&:hover{
		border-color: $theme-color;
	}
}

//Blog Details
.quote-text {
	position: relative;
	padding: 40px 50px;
	background: #f5f5f5;
	color: $black2;
	border-radius: 10px;
	h3 {
		font-size: 38px;
		font-weight: 600;
	}
	@include breakpoint(max-xl) {
		h3 {
			font-size: 29px;
		}
	}
	@include breakpoint(max-sm) {
		h3 {
			font-size: 20px;
			font-weight: 500;
		}
	}
	@include breakpoint(max-xs) {
		padding: 24px 19px;
	}
}
.tips-inner {
	display: flex;
	align-items: center;
	gap: 34px;
	@include breakpoint(max-xxl) {
		gap: 16px;
	}
	@include breakpoint(max-xl) {
		flex-wrap: wrap;
	}
}

.taging-share {
	border-top: 1px solid #e6e8ec;
	border-bottom: 1px solid #e6e8ec;
	padding: 20px 0;
	.details-tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			a {
				font-size: 14px;
				font-weight: 500;
				color: $black2;
				display: inline-block;
				text-align: center;
				padding: 8px 14px;
				border: unset;
				color: #ff5200;
				background: #fff6f2;
				border-radius: 6px;
				&:hover {
					background: $theme-color;
					color: $white !important;
				}
			}
		}
	}
}

.perker-author {
	display: flex;
	align-items: center;
	gap: 28px;
	background: rgb(255, 82, 0, 0.05);
	padding: 34px 36px;
	@include breakpoint(max-xs) {
		gap: 16px;
		flex-wrap: wrap;
		padding: 30px 20px;
	}
}
.post-comment {
	background: rgb(255, 82, 0, 0.05);
	padding: 32px 40px;
	border-radius: 10px;
	.post-grp {
		textarea,
		input {
			width: 100%;
			outline: none;
			padding: 11px 16px;
			border-radius: 12px;
			border: 1px solid rgba(0, 0, 0, 0.05);
			background: rgba(75, 75, 75, 0.05);
			box-shadow: 0 4px 4px 0 rgba(168, 0, 0, 0.02);
			font-size: 14px;
			&::placeholder {
				color: #7c8392;
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 30px 20px;
	}
}
