//Video Section
.cmn-vid {
	width: 75px;
	height: 75px;
	border: 1px solid $white;
	z-index: 1;
}
.cmn-vid i {
	font-size: 20px;
	color: $white;
}
.cmn-vid::before,
.cmn-vid .cmn-vid::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	border: 1px solid $white;
	border-radius: 50%;
}
.cmn-vid::before {
	transition: all 0.3s;
	animation: scsl 2s linear infinite;
}
.cmn-vid::after {
	transition: all 0.4s;
	animation: scsl2 3s linear infinite;
}

@keyframes scsl {
	50% {
		transform: scale(1.05);
		opacity: 1;
	}
	60% {
		transform: scale(1.09);
		opacity: 0.6;
	}
	80% {
		transform: scale(1.1);
		opacity: 0.3;
	}
	90% {
		transform: scale(1.2);
		opacity: 0.2;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}
@keyframes scsl2 {
	50% {
		transform: scale(1.05);
		opacity: 1;
	}
	60% {
		transform: scale(1.09);
		opacity: 0.6;
	}
	80% {
		transform: scale(1.1);
		opacity: 0.3;
	}
	90% {
		transform: scale(1.2);
		opacity: 0.2;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}

.video-section {
	padding: 310px 5px 172px;
	.fresh-wrap {
		h2 {
			font-size: 40px;
		}
	}
	@include breakpoint(max-xxl) {
		padding: 310px 10px 100px;
		.fresh-wrap {
			h2 {
				font-size: 40px;
			}
		}
	}
	@include breakpoint(max-sm) {
		padding: 310px 10px 90px;
		.fresh-wrap {
			h2 {
				font-size: 28px;
			}
		}
	}
}

//Mozzo
.big-burger-content {
	h2 {
		font-size: 96px;
		line-height: 100px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: capitalize;
		word-spacing: 4px;
	}
	@include breakpoint(max-sm) {
		h2 {
			font-size: 40px;
			line-height: 45px;
			font-weight: 700;
			word-spacing: 1px;
		}
	}
}
.big-burger-thumb {
	@include breakpoint(max-sm) {
		.price {
			width: 100px;
		}
	}
}

//most-popular-card
.most-popular-card {
	&:hover {
		border-color: $theme-color !important;
	}
}

//app-section
.app-section {
	.app-buger {
		bottom: -80px;
		right: 600px;
	}
	@include breakpoint(max-xxl) {
		.app-buger {
			right: 0;
			width: 300px;
			bottom: 0;
		}
		.app-thumb1 {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}

//team-partner-section
.team-partner-section {
	&::before {
		position: absolute;
		z-index: -1;
		content: "";
		width: 100%;
		height: 62%;
		bottom: 0;
		left: 0;
		background-color: #111111 !important;
		@include breakpoint(max-md) {
			display: none;
		}
	}
}

//menu-section-wrap
.menu-section-wrap {
	padding: 48px 60px;
	background-color: #d9d9d92e;
	border-radius: 36px;
	.menu-component {
		.card-split {
			box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
		}
	}
	.adjustment-arrow {
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
		// left: 0;
		// width: 100%;
		.arrow {
			width: 75px;
			height: 75px;
		}
	}
	.arrow-start {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -40px;
	}
	.arrow-end {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -30px;
	}
	@include breakpoint(max-md) {
		padding: 48px 30px;
		.arrow-start {
			position: initial;
			top: 50%;
			transform: translateY(-0%);
			left: -40px;
		}
		.arrow-end {
			position: initial;
			top: 50%;
			transform: translateY(-0%);
			right: -30px;
		}
	}
}

.form-wrapper-five {
	max-width: 925px;
	margin: 0 auto;
}

.coffeeno-wrapper {
	@include breakpoint(max-md) {
		.vid-icon {
			width: 50px;
			display: block;
			img {
				width: 100%;
			}
		}
	}
}
.coffeeno-text {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $text-color;
	color: transparent;
	font-size: 250px;
	font-weight: 550;
	line-height: 250px;
	text-transform: capitalize;
	margin-bottom: -80px;
	@include breakpoint(max-xl) {
		font-size: 170px;
		font-weight: 550;
		line-height: 190px;
		text-transform: capitalize;
		margin-bottom: -80px;
	}
	@include breakpoint(max-lg) {
		font-size: 80px;
		font-weight: 550;
		line-height: 90px;
		margin-bottom: -10px;
	}
	@include breakpoint(max-sm) {
		font-size: 60px;
		font-weight: 550;
		line-height: 70px;
		margin-bottom: -10px;
	}
}

//gallery-single-item
.gallery-single-item {
	.img-overlay {
		width: 90%;
		height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 12px;
		background: rgba(134, 98, 74, 0.3);
		backdrop-filter: blur(6px);
		opacity: 0;
		transition: all 0.4s;
		.icon {
			position: absolute;
		}
	}
	&:hover {
		.img-overlay{
			opacity: 1;
		}
	}
}
