//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 1;
	span {
		display: inline-block;
		font-size: 22px;
		font-weight: 800;
		line-height: 1;
		color: $header-color;
		margin-bottom: 12px;
	}
}
.mb-50 {
	margin-bottom: 50px;
	@include breakpoint(max-xl) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 30px;
	}
	@include breakpoint(max-sm) {
		margin-bottom: 24px;
	}
}

.section-title-area {
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;

	@include breakpoint(max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}
}

.section-title-style4 {
	h2 {
		font-size: 64px;
		line-height: 50px;
		letter-spacing: -1.92px;
	}
	@include breakpoint(max-xxl) {
		h2 {
			font-size: 48px;
			line-height: 40px;
			letter-spacing: -1.92px;
		}
	}
	@include breakpoint(max-lg) {
		h2 {
			font-size: 38px;
			line-height: 34px;
			letter-spacing: -1.92px;
		}
	}
	@include breakpoint(max-sm) {
		h2 {
			font-size: 30px;
			line-height: 29px;
			letter-spacing: -1.92px;
		}
	}
}

//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $header-color;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl) {
		padding: 100px 0;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0;
	}
}

.common-bg {
	background: rgb(0, 119, 177, 0.05);
}
.cus-border {
	border: 1px solid rgb(7, 10, 1, 0.1) !important;
}
.cus-bb {
	border-bottom: 1px solid rgb(7, 10, 1, 0.1) !important;
}
.cus-bt {
	border-top: 1px solid rgb(7, 10, 1, 0.1) !important;
}

.space-top {
	padding-top: 120px;

	@include breakpoint(max-xl) {
		padding-top: 100px;
	}

	@include breakpoint(max-lg) {
		padding-top: 80px;
	}
}
.space-bottom {
	padding-bottom: 120px;

	@include breakpoint(max-xl) {
		padding-bottom: 100px;
	}

	@include breakpoint(max-lg) {
		padding-bottom: 80px;
	}
}

.mb-60 {
	margin-bottom: 55px;
	@include breakpoint(max-xl) {
		margin-bottom: 45px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 40px;
	}
	@include breakpoint(max-md) {
		margin-bottom: 35px;
	}
}

//>>>>> Basic Css End <<<<<//
